* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.body {
  background-color: hsl(148, 38%, 91%);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  background-color: white;
  width: 50%;
  border-radius: 10px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.title {
  font-family: sans-serif;
}
.first {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
}
.last {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
}
.names {
  display: flex;
  gap: 10px;
  width: 100%;
}
#first-name {
  height: 40px;
  border-radius: 10px;
  border: 1px solid black;
}
#last-name {
  height: 40px;
  border-radius: 10px;
  border: 1px solid black;
}
#mail {
  height: 40px;
  border-radius: 10px;
  border: 1px solid black;
}
.q-type {
  display: flex;
  width: 100%;
  gap: 10px;
}
.gen {
  border: 1px solid black;
  padding: 10px 20px;
  border-radius: 10px;
  width: 50%;
}
.req {
  border: 1px solid black;
  padding: 10px 20px;
  border-radius: 10px;
  width: 50%;
}
.message {
  display: block;
  color: hsl(187, 24%, 22%);
}
#message {
  width: 100%;
  height: 90px;
  border-radius: 10px;
}

.consent {
  color: hsl(187, 24%, 22%);
}
.btn {
  background-color: hsl(169, 82%, 27%);
  color: white;
  border: none;
  width: 100%;
  border-radius: 10px;
  padding: 10px 0px;
}

@media screen and (max-width: 960px) {
  .body {
    width: 100%;
  }
  .container {
    width: 100%;
  }
}
